*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style: none;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 1260px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #444;
}
nav{
    background-color: #F6F6F9;
}
.navbar{
    padding: 30px 0;
}
.navbar__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.follow-me a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#1E96C8 100%, #37AEE2 100%);
    padding: 10px 20px;
    color: #fff;
    border-radius: 7px;
}
.tg-icon{
    padding-right: 10px;
}
.search{
    padding: 8px 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.lan{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 0 20px; 
}
.lan img{
    border-radius: 50%;
}
.lan h4{
    padding-left: 5px;
    color: #555;
}
.nav-item{
    padding: 20px;
    font-weight: 400;
    font-size: 17px;
}
.nav-item span{
    color: #295091;
    font-weight: bold;
}
.nav-link{
    font-weight: 500;
}
.logo{
    padding: 3px 10px;
    background-color: #fff;
}
.logo h1{
    font-size: 25px;
    color: #295091;
    font-weight: bold;
    text-transform: uppercase;
}
.navbar-lists {
    padding: 30px 0;
}
.navbar-lists .nav-list{
    background-color: #fff;
}

.navbar-lists .nav-list .nav-link{
    font-size: 18px;
    font-weight: 500;
}
.navbar-lists .nav-list .nav-link:hover{
    transition: 0.2s;
    color: #295091;
}
.ads-baner img{
    width: 100%;
}
.covid-st{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    background-color: #F6F6F9;
    padding: 30px;
}
.covid-st__title{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 30%;
}
.covid-st__title h2{
    font-size: 22px;
    font-weight: 550;
    padding-left: 20px;
}
.covid-infitsirovany{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 20%;
}
.covid-infitsirovany h3{
    font-size: 18px;
    font-weight: 500;
    padding-left: 20px;
    color: #DB0000;
    font-weight: 400;
}
.covid-infitsirovany h3 span{
    font-size: 24px;
    color: #000;
    font-weight: 600;
}
.covid-vyzdoroveli{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 20%;
}
.covid-vyzdoroveli h3{
    font-size: 18px;
    font-weight: 500;
    padding-left: 20px;
    color: #05B135;
    font-weight: 400;
}
.covid-vyzdoroveli h3 span{
    font-size: 24px;
    color: #000;
    font-weight: 600;
}
.covid-died{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 20%;
}
.covid-died h3{
    font-size: 18px;
    padding-left: 20px;
    font-weight: 400;
}
.covid-died h3 span{
    font-size: 24px;
    color: #000;
    font-weight: 600;
}
.line{
    width: 3px;
    height: 50px;
    background-color: #EB5569;
    margin-right: 20px;
}
/* ***********************************TOP NEWS************************************ */
.top-news{
    padding: 50px 0;
}
.top-news__items{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.top-news__item{
    display: inline-block;
    width: 33%;
}
.top-news__item .news-img{
    width: 93%;
}
.top-news__item p:hover{
    text-decoration:underline;
}
.top-news__item p{
    width: 98%;
    padding: 10px 0;
    font-weight: bold;
    color: #000;
}
/***************************************** Content******************************** */
.content-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #fdf5e0;
}
.content-item{
    display: flex;
    align-items: center;
}
.content-item p{
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
}
.content-item a{
    padding: 15px 25px;
    background: rgb(249,220,24);
    background: linear-gradient(90deg, #FE5C28 2%, #FF8B36 100%);
    color: #fff;
    border-radius: 10px;
    font-size: 18px;
}
.news-box__item{
    display: flex;
    align-items: top;
    justify-content: center;
    /* padding: 20px; */
}
.news-box{
    width: 70%;
}
.news-title h2{
    font-size: 20px;
    padding-bottom: 20px;

}
.news-boxs-section{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 50px 0;
}
.news-box__most-news{
    width: 10%;
}
.new-box__most-news__section{
    padding: 20px;
    background-color: #F6F6F9;
    margin-bottom: 30px;
}
.new-box__item__text{
    padding-left: 20px;
}
.new-box__item__text a{
    color: #000;
    font-weight: 600;
}
.new-box__item__text a:hover{
    text-decoration: underline;
}
.news-box__item{
    padding-right: 20px;
    padding-bottom: 20px;
}
.news-box__item__img img{
    width: 250px;
}
.new-box__item__text p{
    line-height: 25px;
    padding: 10px 0;
}
.news-date{
    display: flex;
    align-items: center;
}
.news-date img{
    padding-right: 10px;
}
.news-date{
    opacity: 0.5;
}
.news-box__most-news{
    display: inline-table;
    padding: 20px;
}

.news-box__most-news h2{
    font-size: 20px;
    padding-bottom: 20px;
}
.news_box__most-item p{
    font-size: 16px;
    line-height: 25px;
    /* padding-bottom: 10px; */
    padding-top: 10px;
    width: 90%;
}
.news_box__most-item .news-date{
    padding: 10px 0;
}
.more-btn{
    text-align: center;
    padding-top: 30px;
}
.more-btn-link{
    padding: 10px 20px;
    background-color: #295093;
    color: #fff;
}

/* ************************************Download section******************************* */
.download-app-section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 30px; */
    padding-top: 30px;
    background-color: #F6F6F9;
}
.text-section{
    width: 45%;
}
.text-section h2{
    color: #295091;
}
.text-section p{
    line-height: 25px;
    width: 80%;
    padding-top: 10px;
}
.download-link{
    padding: 0 10px;
}



/****************************************** Footer************************************ */
.footer-section{
    background-color: #295093;
    color: #fff;
    padding: 30px 0;
    margin-top: 50px;
}
.footer-section .logo{
    padding: 3px 10px;
    background-color: #182f58;
}
.footer-section .logo h1{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.tg-link{
    padding: 8px 20px;
    background-color: #fff;
    margin-left: 10px;
}
.tg-link{
    color: #295093;
}
.tg-link img{
    padding-right: 10px;
}
.footer-top-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}
.footer-bottom-section{
    display: flex;
    align-items: top;
    justify-content: center;
}
.footer-bottom-bio{
    width: 40%;
}
.footer-nav{
    width: 30%;
}
.my-tg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tg-link{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-bottom-bio p{
    line-height: 25px;
    padding-top: 10px;
}
.footer-nav-item h3{
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 20px;
}
.footer-nav-item{
    padding: 3px 0;
}
.footer-nav-link{
    color: #fff;
}
.footer-nav-link:hover{
    text-decoration: underline;
}   
.footer-nav{
    padding-left: 10px;
}

/*  */
.new-text{
    font-size: 18px;
    line-height: 25px;
    padding-top: 20px;
    width: 95%;
}
.hashtags span{
    padding-right: 15px;
    color: #295091;
}
.news-title h2{
    padding-bottom: 10px;
    font-size: 24px;

}
.news-title .news-date{
    padding-bottom: 10px;
}

/* ******************************************Contact******************************************* */
.add-news{
    margin-top: 50px;
}
.add-news{
    display: flex;
    align-items: top;
    justify-content: space-around;
}
.add-news-section{
    width: 50%;
}
.contact-section{
    display: inline-table;
    width: 40%;
    margin-top: 50px;
    padding: 20px;
    box-shadow: -10px 10px 5px rgb(177, 176, 176);
    border-radius: 10px;
}
.add-news__inputs input{
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #285193;
    width: 90%;
    margin: 20px 0;
}
.add-news__inputs textarea{
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #285193;
    width: 90%;
    margin: 20px 0;
}
.add-news__inputs .add-img{
    width: 30%;
}
.generation-code{
    display: flex;
    align-items: center;
    justify-content: start;
}
.generation-code input{
    width: 30%;
    margin-right: 20px;
}
.add-news__inputs button{
    width: 30%;
    padding: 10px 20px;
    background-color: #295091;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
}
.contact-section{
    border: 1px solid #295093;
}
.contact-card{
    float: right;
    color: #444;
}
.logo h2{
    color: #295091;
    font-size: 24px;
}
.email-address{
    padding-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-section h3{
    font-size: 18px;
    font-weight: 400;
    color: #444;
}
.email-address h4{
    font-size: 18px;
    font-weight: 400;
    color: #444;
}
.social-address{
    padding-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-networs a{
    padding-right: 10px;
}
.telegram-channer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.telegram-channer .follow-me a{
    padding: 5px 20px;
}
.telegram-channer .follow-me a{
    color: #fff;
    background-image: none;
    background-color: #295091;
}
.telegram-channer .tg-text h3 {
    color: #fff;
}
.mobile-apps{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mobil-markets img{
    width: 100px;
}
.mini-menu{
    display: none;
}
.mini-menu button{
    border: none;
    background-color: none;
}
.mini-menu img{
    width: 30px;
}
.covid-st-items{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ********************************************Media query************************************ */

@media(max-width: 1160px){
    .container{
        width: 1060px;
    }
    .mini-menu{
        display: block;
        padding-left: 20px;
    }
    .nav-left .nav-list{
        display: none;
    }
    .navbar-lists{
        display: none;
    }
    .ads-baner{
        padding-top: 30px;
    }
    .mini-menu button{
        background: none;
    }
}

@media(max-width: 1060px){
    .container{
        width: 920px;
    }
    .covid-st__title{
        width: 100%;
    }
    .covid-st{
        display: block;
    }
    .covid-st__title{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px auto;
    }
    .news-boxs-section{
        display: block;
    }
    .news-box{
        width: 100%;
    }
    .news-box__most-news{
        padding-top: 50px;
        display: flex;
        width: 100%;
    }
    .new-box__most-news__section{
        width: 50%;
    }
    .ads-section{
        width: 50%;
    }


    
}
@media(max-width: 920px){
    .container{
        width: 820px;
    }
    .top-news__item{
        width: 49%;
    }
    .line{
        display: none;
    }
    
}
@media(max-width: 820px){
    .container{
        width: 720px;
    }
    .phone-img{
        display: none;
    }
    .footer-top-section{
        display: block;
    }
    .logo{
        display: block;
        text-align: center;
    }
    .my-tg{
        display: inline-block;
    }
    .my-tg p{
        padding: 20px 0;
    }
    .new-img img{
        width: 100%;
    }
    .top-news__items{
        flex-direction: column;
    }
    .top-news__item{
        width: 100%;
    }
    .add-news{
        flex-direction: column;
        width: 100%;
    }
    .add-news-section{
        width: 100%;
    }
    .contact-section{
        width: 100%;
    }
    .add-news{
        flex-direction: column;
        width: 100%;
    }
    .add-news-section{
        width: 100%;
    }
    .contact-section{
        width: 100%;
    }
    .add-news__inputs input{
        width: 100%;
    }
    .add-news__inputs textarea{
        width: 100%;
    }
    .generation-code input{
        width: 70%;
        margin-right: none;
    }
    .generation-code span{
        width: 30%;
    }
}
@media(max-width: 720px){
    .container{
        width: 620px;
    }
    .nav-right .tg-text{
        display: none;
        padding: 0;
    }
    .news-box__most-news{
        display: block;
    }
    .new-box__most-news__section{
        width: 100%;
    }
    .ads-section{
        width: 100%;
    }
    .text-section{
        width: 100%;
    }
    .text-section p{
        width: 100%;
        padding-bottom: 20px;
    }
    .download-app-section{
        display: block;
        text-align: center;
    }
    .news-box__item{
        display: block;
    }
    .news-box__item__img img{
        width: 100%;
        padding-bottom: 20px;
    }
    .content-items{
        display: inline-block;
    }
    .content-item{
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }
    .top-news__item{
        width: 100%;
        padding-bottom: 20px;
    }
}
@media(max-width: 620px){
    .container{
        width: 90%;
    }
    .navbar__top{
        display: inline-block;
    }
    .nav-left .logo h1{
        width: 100%;
        text-align: center;
    }
    .nav-right{
        display: flex;
    }
    .footer-bottom-section{
        display: inline-block;
        text-align: center;
    }
    .covid-st-items{
        display: inline-block;
    }
    .covid-infitsirovany{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .covid-died{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .covid-vyzdoroveli{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .footer-bottom-bio{
        width: 100%;
    }
    .footer-nav{
        width: 100%;
    }
    .covid-st{
        width: 100%;
        text-align: center;
    }
    .contact-section .telegram-channer .follow-me a{
        padding: 5px;
    }
    .nav-right .follow-me a{
        padding: 15px 15px 10px 15px;
        border-radius: 50%;
    }
    .tg-icon{
        padding: 0;
    }
    .nav-right .follow-me{
        position: fixed;
        bottom: 5%;
        right: 5%;
    }
    .nav-left{
        flex-direction: column;
    }
    .logo{
        
    }
    .navbar__top{
        display: flex;
        justify-content: space-between;
    }
    .search{
        display: none;
    }
    .lan{
        display: none;
    }
    .ads-section img{
        width: 100%;
    }
    .contact-section{
        box-shadow: none;
    }

    .add-news__inputs button{
        width: 100%;
    }
    .add-news__inputs .add-img{
        width: 100%;
    }
    .email-address h4{
        font-size: 15px;
    }
    .email-address h3{
        font-size: 15px;
    }
    .social-address h3{
        font-size: 15px;
    }
    .telegram-channer h3{
        font-size: 15px;
    }
    .mobile-apps h3{
        font-size: 15px;
    }
}













